<section>
  
  <div class="page-header">
    <h1>Patient Detail</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"><strong>Patient Name : </strong></div>
        <div class="col-md-6" ng-bind="vm.patient.name"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Phone Number : </strong></div>
        <div class="col-md-6" ng-bind="vm.patient.phone"></div>
      </div>vm.patient.address
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Patient Address : </strong></div>
        <div class="col-md-6" ng-bind="vm.patient.address"></div>
      </div>
    </div>
  </div>
</section>
