<section>
  <div class="page-header">
    <h1>{{vm.patient._id ? 'Edit Patient' : 'New Patient'}}</h1>
    <hr>
    <a ng-show="vm.patient._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.patientForm" class="form-horizontal" ng-submit="vm.save(vm.form.patientForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Patient Name</label>
          <input name="name" type="text" ng-model="vm.patient.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.patientForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="patientUser">Patient User</label>
          
          <select name="username" id="chooseUser" class="form-control" ng-disabled="vm.patient._id"
            ng-options="option.username for option in vm.selectUsers track by option._id"
            ng-model="vm.patient.username" >
          </select>
          <div ng-messages="vm.form.patientForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient User is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="phone">Phone Number</label>
          <input name="phone" type="text" ng-model="vm.patient.phone" id="phone" class="form-control" placeholder="Phone Number" required>
          <div ng-messages="vm.form.patientForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone Number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="address">Address</label>
          <textarea name="address" type="text" ng-model="vm.patient.address" id="address" class="form-control" cols="30" rows="10" placeholder="Address" required>
          </textarea>
          <div ng-messages="vm.form.patientForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient address is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.patient._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
